html {
	overflow: ;
}


.header  {
width: 100%;
margin-bottom: 30px;

}

.title  {
	font-size: 2em;
	margin: auto;
	color: #3C4B48;
	
}

.wrapper {
	position: relative;
	left: 25%;
}


.container  {

	clear: both;
	height: 600px;
	width:  600px;
	background-color: #9AB5AE;
	border:  5px solid grey;
	display: inline-block;
	

}


body  {
	line-height: 0;
	background-color: #F9E2DE;
}


.buttons {
	padding-top: 10px;
	padding-left: 10px;

}


button  {
	height: 50px;
	width:  120px;
	border-radius: 5%;
	background-color: #A5BDB7;
	font-size: 1.2em;
	color: #3C4B48;
	margin: 5px;
  box-shadow: 1px 1px 1px black;

}

.square  {

	border: 0;
	margin: 0;
	padding: 0;
	background-color: #9AB5AE;
	float: left;  

}



.jazz {
	clear: both;
	height: 600px;
	width:  600px;	
	display: inline-block;
	background-image: url('../assets/jazz.jpg');
}