.header  {
width: 100%;
margin-bottom: 30px;

}

.title  {
	font-size: 2em;
	
	margin: auto;
	color: #4e2400;
	
}


.container  {
	clear: both;
	height: 600px;
	width:  600px;
	background-color: #f97800;
	border:  0;
	/*margin: 30px auto;*/
	display: inline-block;
	

}


body  {
	line-height: 0;
	background-color: #79966D;
}


.buttons {
	width: 25%;
	float: left;
	clear: both;
	display: block;
}


button  {
	height: 65px;
	width:  150px;
	border-radius: 5%;
	background-color: #d69c00;
	font-size: 1.5em;
	color: #4e2400;
	margin: 5px;
	box-shadow: 2px 2px 2px black;
}

.square  {

	border: 0;
	margin: 0;
	padding: 0;
	background-color: #f97800;
	/*display: inline-block;  */ 
	float: left;  

}